@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Krub:ital,wght@0,700;1,400&family=Quintessential&family=Redressed&family=Roboto:wght@300&display=swap");
body {
  background-color: #f8f8f3; }

h1,
h2,
h3,
h4 {
  font-family: "Dancing Script", cursive;
  margin: 10px 0; }

#botonera {
  margin-bottom: -45px; }
  #botonera img {
    width: 300px; }
  #botonera li a {
    font-size: 18px;
    font-weight: 650; }

#section {
  background-color: #f1efed; }

.sectionText {
  text-align: center; }

.logFooter {
  width: 30px; }
