@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Krub:ital,wght@0,700;1,400&family=Quintessential&family=Redressed&family=Roboto:wght@300&display=swap');

$fontMain: 'Dancing Script', cursive;

//variables textos
$textH1:2.6em;
$textH2:3em;
$textH3:2em;
$textH4:1.5em;
